{% for message in app.flashes('danger') %}
    <div class="notification is-danger">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="notification is-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('info') %}
    <div class="notification is-info">
        {{ message }}
    </div>
{% endfor %}