<aside class="menu is-hidden-mobile">
    {% for section in sections %}
        {% if navigation_service.isItemAccessible(section) %}
            <p class="menu-label">
                {{ section.title }}
            </p>
            <ul class="menu-list">
                {% for menu_item in section.items %}
                    {% if navigation_service.isItemAccessible(menu_item) %}
                        <li><a href="{{ path(menu_item.route) }}" {% if navigation_service.isItemActive(menu_item) %}class="is-active"{% endif %}>{{ menu_item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</aside>