{% extends 'layouts/base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="is-active">
        <a href="{{ path('users_index') }}" aria-current="page">Users</a>
    </li>
{% endblock %}

{% block body %}
    {% for user in pagination %}
        {{ user.username }}
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
